* {
  text-align: center;
  align-items: center;
}

.hiddenLeft {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-25%);
  transition: all 2s;
}

.showLeft {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hiddenRight {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(10%);
  transition: all 2s;
}

.showRight {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion: reduce) {
  .hidden {
    transition: none;
  }
}

img {
  --max-size: 120px;
  max-width: var(--max-size);
  max-height: var(--max-size);
}

.imgAndText {
  display: flex;
  gap: 5%;
  padding: .8%;
  max-width: 30%;
}

.imgAndText > div {
  max-width: 70%;
}

.skill {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}
