* {
  overflow-x: hidden;
}

body {
  background: linear-gradient(90deg, rgba(12,9,77,1) 0%, rgba(7,7,173,1) 100%, rgba(0,212,255,1) 100%);
  color: rgb(170, 170, 170);
}

a {
  color: rgb(170, 170, 170);
  text-decoration: underline;
}

main, header {
  text-align: center;
}

.italics {
  font-style: italic;
}

@media screen and (min-width: 600px) {
  main, header {
    max-width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
}
