.hiddenLeft {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-25%);
  transition: all 2s;
}

.showLeft {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hiddenRight {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(10%);
  transition: all 2s;
}

.showRight {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion: reduce) {
  .hidden {
    transition: none;
  }
}

header > p {
  max-width: 65%;
  margin-left: 17.5%;
  margin-right: 17.5%;
}

main > section {
  border: 2px solid #292929;
  border-radius: 10%;
  margin-bottom: 2%;
}

main > section > * > img {
  border: 1px solid #292929;
}

.imgAndText {
  display: grid;
  grid-gap: 2%;
}

.imgAndText > * {
  margin-bottom: 7.5%;
}

.imgAndText > img {
  grid-column: 1;
  margin-left: 10%;
}

.imgAndText > p {
  grid-column: 2;
  max-width: 75%;
}