#about {
  text-align: center;
  align-items: center;
}

.about-hiddenLeft {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-25%);
  transition: all 2s;
}

.about-showLeft {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.about-hiddenRight {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(10%);
  transition: all 2s;
}

.about-showRight {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion: reduce) {
  .about-hidden {
    transition: none;
  }
}

.about-img {
  --max-size: 120px;
  max-width: var(--max-size);
  max-height: var(--max-size);
}

.about-imgAndText {
  display: flex;
  gap: 5%;
  padding: .8%;
  max-width: 30%;
}

.about-imgAndText > div {
  max-width: 70%;
}

.about-skill {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

@media only screen and (max-width: 600px) {
  .about-imgAndText {
    display: block;
  }

  .about-img {
    max-width: 20vw;
  }

  .about-skillDescription {
    display: none;
  }
}