.contact-li {
  list-style-type: none;
  max-height: 2.75vh;
}

.contact-image {
  height: 2.5vh;
}

.contact-li > .contact-code {
  background-color: rgb(39, 38, 38);
  border-radius: 15%;
  border-style: outset;
  border-color: rgb(39, 38, 38);
}