.contact-li {
  list-style-type: none;
}

.contact-li > .contact-image {
  max-width: 30px;
  max-height: 30px;
}

.contact-li > .contact-code {
  background-color: rgb(39, 38, 38);
  border-radius: 15%;
  border-style: outset;
  border-color: rgb(39, 38, 38);
}