#home-skills {
  display: grid;
}

#home-skills > * > .home-ul {
  list-style-position: inside;
}

#home-languages {
  grid-column: 1;
}

#home-frameworks {
  grid-column: 2;
}

#home-tools {
  grid-column: 3;
}
