.nav {
  display: inline-grid;
  height: fit-content;
  overflow-y: hidden;

  margin-bottom: 1vh;

  position: fixed;
  left: 1vw;
}

.nav-logo {
  width: 2.5vw;
  height: 2.5vw;
  margin-right: 0.5vw;
}

.diffrentPage  {
  color: #468189;
}

.currentPage {
  color: #FFF;
}